{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <style>
        #webhook_id-error{
            position: absolute!important;
            top: 65px!important;
            left: 8px!important;
        }
    </style>
{% endblock %}
{% block content %}

    <section class="content">
        <div class="container-fluid">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}"> {{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="title">{{ data.title }}</h4>
                        </div>

                        <div class="card-body">
                            <form id="add_form" role="form" method="post" action="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="school_name">School Name</label>
                                                <input type="text" class="form-control" name="school_name"
                                                       id="school_name" value="{{ request.form.school_name }}"
                                                       placeholder="Enter School Name">
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="school_domain">School Domain</label>
                                                <input type="text" class="form-control" name="school_domain"
                                                       id="school_domain" value="{{ request.form.school_domain }}"
                                                       placeholder="Enter School Domain">
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="api_token">API Token</label>
                                                <input type="text" class="form-control" name="api_token" id="api_token"
                                                       placeholder="Enter API Token" value="{{ request.form.api_token }}">
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="api_url">API URL</label>
                                                <input type="text" class="form-control" name="api_url" id="api_url"
                                                       placeholder="Enter API URL" value="{{ request.form.api_url }}">
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" name="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block script %}

    <script type="text/javascript">
        $(function () {
            $("#add_form").validate({
                rules: {
                    school_name: {
                        required: true,
                        maxlength: 200,
                        minlength: 5
                    },
                    school_domain: {
                        required: true,
                        maxlength: 100,
                        minlength: 5
                    },
                    api_token: {
                        maxlength: 100,
                        minlength: 5
                    },
                    api_url: {
                        maxlength: 200,
                        minlength: 5
                    }
                }
            });
        });

    </script>

{% endblock %}