{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <style>
        #webhook_id-error{
            position: absolute!important;
            top: 65px!important;
            left: 8px!important;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}"> {{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="title">{{ data.title }}</h4>
                        </div>

                        <div class="card-body">
                            <form id="edit_form" role="form" method="post" action="{{ url_for('/mapping.edit', device_id = data.device["id"]) }}">
                                <input type="hidden" name="old_channel" value="{{ data.device["device_channel"] }}">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="webhook_id">School Name</label>
                                                <select class="form-control select2" name="webhook_id" id="webhook_id">
                                                    <option value="">--Select School Name--</option>
                                                    {% for webhook in data.webhooks %}
                                                        <option value="{{ webhook.id }}" {% if webhook.id == data.device["webhook_id"] %} selected {% endif %}>{{ webhook.school_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="device_number">Device Number</label>
                                                <input type="text" class="form-control" name="device_number"
                                                       id="device_number" value="{{ data.device["device_number"] }}"
                                                       placeholder="Enter Device Number">
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="device_channel">Device Channel</label>
                                                <input type="text" class="form-control" name="device_channel"
                                                       id="device_channel" value="{{ data.device["device_channel"] }}"
                                                       placeholder="Enter Device Channel">
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" name="submit" value="save" class="btn btn-success">Update Device</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block script %}

    <script type="text/javascript">
        $(function () {
            $("#edit_form").validate({
                rules: {
                    webhook_id: "required",
                    device_number: {
                        required: true,
                        maxlength: 20,
                        minlength: 5
                    },
                    device_channel: "required"
                }
            });
        });

    </script>

{% endblock %}