{% extends "layout.html" %}
{% block content %}

<section class="content">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="title">{{ data.title }}</h4>
            </div>

            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>School Name</th>
                        <th>School Domain</th>
                        <th>API Token</th>
                        <th>API URL</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>SL</th>
                        <th>School Name</th>
                        <th>School Domain</th>
                        <th>API Token</th>
                        <th>API URL</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
</section>

{%endblock%}